@import url(./root.css);

body {
    display: block;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.h-login-form {
    background-color: var(--bg-contrast);
}

@media (max-width: 600px) {
    .hide-xs {
        display: none;
    }
}
